html,body {
    margin: 0 auto;
    padding: 0;
    background-color: #c8c8c8;
}

* {
    text-align: center;
}

#msgtitle {
    background-color: red;
}

#messages {
    width: 800px;
    margin: 0 auto;
}

#user-info {
    width: 150px;
}


#messagecontent {
    width: 500px;
    text-align: left;
    text-indent: 2em;
}

#push-time {
    color: #779;
    position: relative;
    left: 200px;
    top: 0;
}

[name=temp-message] {
    width: 800px;
    height: 250px;
}

[value=发布] {
    width: 250px;
    height: 100px;
}

#pushmessage {
    position: fixed;
    bottom: 0px;
    margin: auto;
    width: 1800px;
}

#to-be-sent-message {
    width: 1300px;
    margin: auto;
    padding: auto;
}
